.Box {
    width: 30%;
    margin: 30px auto;
    font-weight: inherit;
    padding: 30px;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
}

.Description {
    text-transform: capitalize;
}