.FiveDay {
    margin-top: 30px;
    text-align: center;
}

.Forecast {
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

@media(max-width: 768px) {
    .Forecast {
        display: block;
    }
}

.Search {
    margin-top: 50px;
    text-align: center;
}

.Input {
    background-color: #fafafa;
    color: black;
    width: 15%;
    padding: 12px 20px;
    margin: 8px 16px;
    box-sizing: border-box;
    border-radius: 6px;
}

.Button {
    color: black;
    background: transparent;
    border: 2px solid #494949;
    border-radius: 6px;
    padding: 10px;
}